<div class="category_items_header">
  <span class="category_title">Edit <%=h @product.name %></span>
  <span style="float: right">
    <%= link_to 'Back', products_path %>
  </span>
</div>
<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
